<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @studnet.name %>
</p>

<p>
  <b>:</b>
  <%= @studnet. %>
</p>


<%= link_to 'Edit', edit_studnet_path(@studnet) %> |
<%= link_to 'Back', studnets_path %>
